ion-card {
  --background: var(--ion-color-light);
  border-radius: 15px;
  margin-top: 20px;
}

ion-card-title {
  color: var(--ion-color-primary);
}

.stats-container {
  margin-top: 15px;
}

.stat-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .stat-name {
    width: 120px;
    font-weight: bold;
  }

  ion-progress-bar {
    --progress-background: var(--ion-color-primary);
    height: 10px;
    border-radius: 5px;
  }
}

.types-container {
  margin-top: 10px;
  ion-chip {
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-secondary-contrast);
  }
}
